@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --color-hover: rgba(32, 59, 232);
  --transition: all 0.2s ease;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 10;
    padding: 50px;
    background-color: #f5f5f5;
    background-image: url(image1.jpg);
    height: 100%;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation: animate 40s ease-in-out infinite; 
}
@keyframes animate {
    0%, 20% {
        background-image: url(image1.jpg); 
    }
    25%, 45%{
        background-image: url(image2.jpg);
    }
    50%, 70%{
        background-image: url(image3.jpg);
    }
    75%, 95%{
        background-image: url(image4.jpg); 
    }
}
body::after {
    content: "";
    background-color: rgba(56, 55, 55, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 78px;
  height: 100%;
  background: #fff;
  padding: 8px 16px;
  transition: var(--transition);
}

.sidebar.expand {
  width: 250px;
  transition: var(--transition);
}

.nav-header {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-header .logo {
  color: #000;
  font-size: 23px;
  font-weight: 600;
  opacity: 0;
  transition: var(--transition);
}

.sidebar.expand .nav-header .logo {
  opacity: 1;
  transition: var(--transition);
}

.nav-header .btn-menu {
  position: absolute;
  color: #000;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
  margin-right: 10px;
}

.sidebar.expand .nav-header .btn-menu {
  margin-right: 0;
}

.nav-links {
  margin-top: 20px;
  height: 100%;
}

.nav-links li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.nav-links i {
  color: #000;
  height: 50px;
  min-width: 50px;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
}
.nav-links input {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  outline: none;
  height: 40px;
  width: 50%;
  border: none;
  border-radius: 12px;
  background: #e2e2e2;
  padding: 0;
}
.sidebar.expand .nav-links input {
  width: 100%;
  padding: 0 20px 0 40px;
}
.nav-links li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: #fff;
}

.nav-links li:hover a {
  background: var(--color-hover);
}

.nav-links li:hover i {
  color: #fff;
}

.nav-links li a .title {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  display: none;
  transition: var(--transition);
}

.sidebar.expand .nav-links li a .title {
  display: block;
  transition: var(--transition);
}

.nav-links li:hover a .title {
  color: #fff;
}

.nav-links li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  white-space: nowrap;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: var(--transition);
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.expand .tooltip {
  display: none;
}

.nav-links .search-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-25px);
  font-size: 23px;
  color: #000;
  border-radius: 12px;
  background: #fff;
  transition: var(--transition);
}

.sidebar.expand .nav-links .search-btn {
  background: transparent;
  transition: var(--transition);
}

.sidebar.expand .nav-links li:hover .search-btn {
  color: #000;
}

.nav-links .search-btn:hover {
  background: var(--color-hover);
}

.theme-wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 250px;
  left: 0;
  padding: 8px 16px;
}

.theme-wrapper .theme-icon {
  font-size: 20px;
  color: #000;
  display: none;
  transition: var(--transition);
}
.sidebar.expand .theme-wrapper .theme-icon {
  display: block;
}

.theme-wrapper p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  display: none;
  transition: var(--transition);
}

.sidebar.expand .theme-wrapper p {
  display: block;
}

.theme-wrapper .theme-btn {
  width: 40px;
  height: 20px;
  background: #e2e2e2;
  border-radius: 30px;
  position: relative;
}

.theme-wrapper .theme-btn .theme-ball {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
  top: 2px;
  left: 3px;
}

.home {
    font-family: 'Poppins', sans-serif;
    margin: 10;
    padding: 50px;
    background-color: #f5f5f5;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar.expand ~ .home {
  left: 250px;
  width: calc(100% - 250px);
  transition: var(--transition);
}

.home p {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  display: inline-block;
  margin: 20px;
  white-space: nowrap;
}
.text-box{
    margin-top: 300px;
    max-width: 600px;
    float: left;
}
.text-box h1{
    font-size: 45px;
    margin-bottom: 20px;
    color:#3f51b5
}
.text-box p{
    margin:10px;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: white;
    transform: translateX(200px)
}

.text-box button{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    background: #3f51b5;
    padding:10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
}
.text-box {
    margin-top: 130px;
    max-width: 600px;
}

.text-box h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #3f51b5;
    transform: translateX(50px)
}

.text-box p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}

.text-box button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #3f51b5;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
    cursor: pointer;
}
.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 600px;
    margin-top: 200px;
    animation: slideIn 1s forwards; 
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(40%);
    }
}
.menu .item {
    width: 100%; 
    background-color: #945d65;
    padding: 1em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
    box-sizing: border-box;
    opacity: .8;
}
.item {
    width: 150px;
    height: 150px;
    background-color: #3b3a3a;
    padding: 1em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
  }
  h1 {
    text-align: center;
}

label, input, select {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], select[name="time"], input[type="number"], input[type="date"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    background-color: #007bff;
    color: #fff;
}

button:active {
    background-color: #0056b3;
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 10px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}
.text-box{
    margin-top: 300px;
    max-width: 600px;
    float: left;
}
.text-box h1{
    font-size: 45px;
    margin-bottom: 20px;
    color:#3f51b5
}
.text-box p{
    margin:10px;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: white;
}

.text-box button{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    background: #3f51b5;
    padding:10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
}
.text-box {
    margin-top: 130px;
    max-width: 600px;
}

.text-box h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #3f51b5;
}

.text-box p {
    margin: 0;
    padding: 0;
    transform: translateX(70px);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.text-box button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transform: translateX(70px);
    background: #3f51b5;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
    cursor: pointer;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    max-width: 500px; 
    background-color: rgba(155, 141, 141, 0.5);
    text-align: center;
}

.container {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    box-sizing: border-box;
    text-align: center;
    
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
img{
    height: 100px;
    width: 100px;
}

